.create-event {
  .ant-form-item {
    margin-bottom: 0 !important;
  }

  .ant-form-explain {
    display: none;
  }

  .ant-descriptions.bordered .ant-descriptions-item-label {
    width: 200px;
  }

  &-item {
    display: flex;
    align-items: flex-end;
  }
}
