.qna {
  .link-text {
    span {
      font-size: 26px;
      text-align: left;
      line-height: 1.38;
      letter-spacing: -0.65px;
      color: #000000;
    }
  }

  .add-list-btn {
    .ant-btn {
      height: 122px;
      font-size: 26px;
      // line-height: 1.38;
      letter-spacing: 2.6px;
      color: #c6c6c6;
      width: 100%;
    }

    .anticon {
      font-size: 16px;
    }
  }
}
