.modal-gallery {
  .ant-modal-body {
    padding: 0;
    position: relative;
    overflow: hidden;
    background: #222;
  }

  .ant-modal-close-icon {
    color: white;
  }

  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 3em;
    padding: 15px;
    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }

  .image-container {
    width: 520px;
    height: 520px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
